/*
IMPORT_PRIORITY:6
*/

/*COMMON*/
.css_job_wage_range_composite_component									{}

/*COMPONENTS*/
.css_job_wage_range_composite_component .css_textfield_component_wage_from				{display:inline-block;}
.css_job_wage_range_composite_component .css_textfield_component_element_wage_from		{width:80px;}

.css_job_wage_range_composite_component .css_textfield_component_wage_to				{display:inline-block;}
.css_job_wage_range_composite_component .css_textfield_component_element_wage_to		{width:80px;}

.css_job_wage_range_composite_component .css_listbox_component_wage_currency			{display:inline-block;}
.css_job_wage_range_composite_component .css_listbox_component_element_wage_currency	{width:80px;}