/*
IMPORT_PRIORITY:7
*/

/*COMMON*/
.css_table_component								{text-align:left;}
.css_table_component .css_element					{color:black; font-weight:normal;}
.css_table_component .css_caption					{color:#446b8f;}
.css_table_component .css_description				{color:#446b8f;}
.css_table_component .css_hint						{background:#eeeeee; color:#444444; padding:4px;}

/*INTERACTIONS*/
