/*
IMPORT_PRIORITY:0
*/

/*COMMON*/
.css_payment_form											{background:#222222; margin:0;}
.css_payment_form .css_header								{}
.css_payment_form .css_body									{}
.css_payment_form .css_footer								{}

/*COMPONENTS*/
.css_payment_form .css_text_component_form_name								{}
.css_payment_form .css_text_component_element_form_name								{color:#eeeeee; font-size:14px; font-weight:bold;}

.css_payment_form .css_textfield_component_amount								{}
.css_payment_form .css_textfield_component_element_amount								{width:300px; font-weight:bold;}
.css_payment_form .css_textfield_component_amount .css_element			{border:#c1c1c1 solid 1px;}
.css_payment_form .css_textfield_component_amount .css_caption			{color:#999999; margin-left:0;}

.css_payment_form .css_textfield_component_name								{}
.css_payment_form .css_textfield_component_element_name								{width:300px; font-weight:bold;}
.css_payment_form .css_textfield_component_name .css_element			{border:#c1c1c1 solid 1px;}
.css_payment_form .css_textfield_component_name .css_caption			{color:#999999; margin-left:0;}

.css_payment_form .css_textfield_component_email								{}
.css_payment_form .css_textfield_component_element_email								{width:300px; font-weight:bold;}
.css_payment_form .css_textfield_component_email .css_element			{border:#c1c1c1 solid 1px;}
.css_payment_form .css_textfield_component_email .css_caption			{color:#999999; margin-left:0;}

.css_payment_form .css_textarea_component_message								{}
.css_payment_form .css_textarea_component_element_message								{width:300px; font-weight:bold;}
.css_payment_form .css_textarea_component_message .css_element			{border:#c1c1c1 solid 1px;}
.css_payment_form .css_textarea_component_message .css_caption			{color:#999999; margin-left:0;}

.css_payment_form .css_text_component_about_mandatory_fields_note				{display:inline-block; float:right; text-align: right;}
.css_payment_form .css_text_component_element_about_mandatory_fields_note		{color:#999999; font-size:12px;}