
body										{width:auto; position:relative; font:14px fnt_tahoma,serif;}



.js1 .ku1			{background:none;}


.hc1 .lf1			{background:none;}
.hc1 .ku1		{background:none; border:#dddddd solid 1px;}


.hp1 .lf1			{background:none;}
.hp1 .ku1			{background:none; border:#dddddd solid 1px;}


.he1 .lf1			{background:none;}
.he1 .ku1		{background:none; border:#dddddd solid 1px;}
.he1 .kk1		{font-size:16px;}


.gj1 .lf1		{background:none; font-size:16px; font-weight:500;}


.jd1 .lf1,
.jd1 .kp1,
.jd1 .ke1			{background:none; font-size:16px; font-weight:500;}
.jd1 .ku1			{background:none;}


.bn1									{}


.bn1 .db1				{display:inline-block;}
.bn1 .ah1		{width:80px;}

.bn1 .dt1				{display:inline-block;}
.bn1 .ay1		{width:80px;}

.bn1 .ch1			{display:inline-block;}
.bn1 .y1	{width:80px;}


.aq1								{background:#5a7fa0;}
.aq1 .kz1					{}
.aq1 .le1						{background:#5a7fa0; font-size:13px; text-shadow:#2b587a 0 1px 0; text-align:right;}
.aq1 .ky1					{}


.aq1 .fw1						{padding:0 5px;}
.aq1 .ck1				{}

.aq1 .fw1 .lj1				{border:none;}
.aq1 .fw1 .kt1				{background:#5a7fa0; color:#e1e7ed;}
.aq1 .fw1 .kt1 a				{color:#e1e7ed; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.aq1 .fw1 .kt1 a:hover		{background:#486e90; color:#e1e7ed;}
.aq1 .fw1 .ko1				{background:#5a7fa0; color:#e1e7ed; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.aq1 .fw1 .kn1				{background:#486e90; -webkit-border-radius:2px; -moz-border-radius:2px; border-radius:2px;}
.aq1 .fw1 .kn1 a				{color:#e1e7ed;}

.aq1 .ku1						{text-shadow:0 1px 0 #2b587a;}


.cl1								{}
.cl1 .kz1					{}
.cl1 .le1					{}
.cl1 .ky1					{}


.cl1 .fw1						{position:relative; z-index:2;}
.cl1 .ck1				{}
.cl1 .fw1 .kn1		{cursor:default; pointer-events:none;}

.cl1 .ic1								{white-space:nowrap; width:202px;}


.cl1 .fw1 ul li ul				{width:auto; padding:2px; position:absolute; top:-2px; left:172px;}
.cl1 .fw1 ul li:hover ul		{display:inline-block;}


.dh1							{display:inline-block; margin:4px; padding:4px; background:none; color:black; border:none;}
.dh1 .kz1				{background:none; padding:0;}
.dh1 .le1					{}
.dh1 .ky1				{}


.dh1 .fw1 .ku1		{background:none; margin:0; border:none;}
.dh1 .fw1 .lj1			{}
.dh1 .fw1 .ic1	{}
.dh1 .fw1 .kt1		{background:none;}
.dh1 .fw1 .kt1:hover	{background:#0f84fb;}
.dh1 .fw1 .ko1		{background:none; color:#7d7d7d;}
.dh1 .fw1 .kn1		{background:#0b71d9;}

.dh1 .fw1 .lj1.ln1			{}
.dh1 .fw1 .lj1.lq1			{}


.dh1 .fw1 .lj1.kt1 a		{color:black;}
.dh1 .fw1 .lj1.kt1 a:hover	{color:white;}
.dh1 .fw1 .lj1.kn1 a		{color:white;}


.ei1											{}
.ei1 .kz1								{}
.ei1 .le1								{}
.ei1 .ky1								{}




.ev1											{}
.ev1 .kz1								{}
.ev1 .le1									{}
.ev1 .ky1								{}


.ev1 .fh1				{}
.ev1 .cb1		{}

.ev1 .hf1					{display:inline-block;}
.ev1 .gw1					{display:inline-block; vertical-align:top;}

.ev1 .ej1			{}
.ev1 .br1	{}

.ev1 .cv1			{padding-top:4px; text-align:center;}
.ev1 .ak1	{padding:4px 24px;}

.ev1 .cu1						{}
.ev1 .ai1				{}

.ev1 .ba1				{}
.ev1 .p1		{}
.ev1 .ba1 .ku1	{width:80px;}

.ev1 .bj1					{}
.ev1 .s1			{}
.ev1 .bj1 .ku1	{width:80px;}


.bv1											{display:block; margin:4px; padding:4px; background:#ffffff; border:#dddddd solid 1px;}
.bv1 .kz1								{background:none; padding:0;}
.bv1 .le1									{display:block; margin:0;}
.bv1 .ky1								{padding:0; border-top:#dddddd solid 1px;}


.bv1 .fz1					{font-size:20px;}
.bv1 .cm1			{background:none; padding:2px; margin:4px 0 4px 10px;}
.bv1 .fz1 a					{color:#0b71d9; text-decoration:none;}
.bv1 .fz1 a:hover			{text-decoration:underline;}

.bv1 .hh1						{font-size:18px;}
.bv1 .dq1				{background:none; color:#222222; padding:2px; margin:4px 0 4px 10px; font-weight:bold;}

.bv1 .ec1				{font-size: 16px;}
.bv1 .bf1		{background:none; padding:2px; margin:4px 0 4px 10px;}

.bv1 .ft1					{}
.bv1 .ce1			{background:none; padding:2px; margin:4px 0 4px 10px;}

.bv1 .cx1			{background:none; display:inline-block; float:right;}
.bv1 .an1	{background:none; padding:2px; margin:4px 0;}

.bv1 .cz1				{font-size: 16px;}
.bv1 .ao1		{background:none; padding:2px; margin:4px 0 4px 10px;}
.bv1 .cz1 .ke1	{padding:6px;}

.bv1 .da1				{font-size: 16px;}
.bv1 .ap1		{background:none; padding:2px; margin:4px 0 4px 10px;}
.bv1 .da1 .ke1	{padding:6px;}


.bo1							{}
.bo1 .kz1				{}
.bo1 .le1					{overflow:hidden;}
.bo1 .ky1				{}


.bo1 .fw1					{position:relative; z-index:2;}
.bo1 .ck1			{}
.bo1 .fw1 .kn1		{cursor:default; pointer-events:none;}

.bo1 .ic1								{white-space:nowrap; width:202px;}


.bo1 .fw1 ul li ul			{width:auto; padding:2px; position:absolute; top:-2px; left:172px;}
.bo1 .fw1 ul li:hover ul	{display:inline-block;}
.hu1										{background-color:#f7fbff;}


.hu1 .id1					{background:none; border:none;}
.hu1 .jo1					{}
.hu1 .hr1				{}
.hu1 .hi1				{}
.hu1 .ex1		{}
.hu1 .gp1			{margin:0 0 0 234px; }
.hu1 .eh1		{}
.hu1 .ha1				{}
.hu1 .fi1			{}
.hu1 .eu1		{}


.hu1 .af1		{margin:0 auto;}
.hw1									{}


.hw1 .id1					{}
.hw1 .jo1				{}
.hw1 .hr1			{}
.hw1 .hi1			{}
.hw1 .ex1		{}
.hw1 .gp1			{}
.hw1 .eh1	{}
.hw1 .ha1			{}
.hw1 .fi1		{}
.hw1 .eu1		{}
.jy1										{}
.jy1 .kj1						{height:700px;}


.jy1 .id1					{background:none; border:none;}
.jy1 .jo1					{}
.jy1 .hr1				{}
.jy1 .hi1				{}
.jy1 .ex1		{margin: 6px 0; text-align:center;}
.jy1 .gp1			{margin:0; }
.jy1 .eh1		{}
.jy1 .ha1				{}
.jy1 .fi1			{}
.jy1 .eu1		{}


.jy1 .af1		{display:block; border:none; text-align:center;}


.jy1 .hq1				{display:block;}


.ep1								{}
.ep1 .kz1					{}
.ep1 .le1						{}
.ep1 .ky1					{}


.ep1 .fw1						{}
.ep1 .ck1				{}



.cf1										{margin:0;}
.cf1 .kz1							{}
.cf1 .le1								{margin:0;}
.cf1 .ky1							{}


.cf1 .bs1				{padding:2px; text-align:center;}
.cf1 .v1		{width:150px;}
.fn1									{background-color:#f7fbff;}


.fn1 .id1					{background:none; border:none;}
.fn1 .jo1				{}
.fn1 .hr1				{}
.fn1 .hi1			{}
.fn1 .ex1		{}
.fn1 .gp1			{margin:0;}
.fn1 .eh1		{}
.fn1 .ha1			{}
.fn1 .fi1		{}
.fn1 .eu1		{}


.fb1							{background:#222222; margin:0;}
.fb1 .kz1				{}
.fb1 .le1					{}
.fb1 .ky1				{}





.dp1							{margin:0;}
.dp1 .kz1				{}
.dp1 .le1					{}
.dp1 .ky1				{}





.bq1						{}
.bq1 .kz1			{}
.bq1 .le1			{}
.bq1 .ky1			{}


.bq1 .fa1					{}
.bq1 .bx1			{color:#eeeeee; font-size:15px; font-weight:bold;}

.bq1 .df1				{}
.bq1 .av1		{}

.bq1 .r1				{width:450px; text-align:right;}
.bq1 .e1		{}


.bw1							{display:inline-block; margin:4px; padding:4px; background:#ffffff; color:black; border:#dddddd solid 1px;}
.bw1 .kz1				{background:none; padding:0;}
.bw1 .le1					{}
.bw1 .ky1				{}


.bw1 .fa1				{}
.bw1 .bx1		{color:#0b71d9; font-size:16px; font-weight:bold;}


.bw1 .ew1					{}
.bw1 .bz1			{}
.bw1 .ew1 .ku1	{background:none; margin:4px 0 4px 0;}

.bw1 .ew1 a				{color:black;}

.bw1 .ew1 .bp1						{width:60px; text-align:center;}
.bw1 .ew1 .w1				{}
.bw1 .ew1 .ac1					{width:100px; text-align:center;}
.bw1 .ew1 .n1			{}
.bw1 .ew1 .h1			{width:100px; text-align:center;}
.bw1 .ew1 .c1	{}
.bw1 .ew1 .i1			{width:100px; text-align:center;}
.bw1 .ew1 .b1	{}
.bw1 .ew1 .j1			{width:100px; text-align:center;}
.bw1 .ew1 .a1	{}
.bw1 .ew1 .m1			{text-align:center;}
.bw1 .ew1 .f1		{text-align:center;}

.bw1 .ew1 .eo1				{display:inline-block; width:60px; text-align:right; vertical-align:top;}
.bw1 .ew1 .dm1			{display:inline-block; width:100px; text-align:center; vertical-align:top;}
.bw1 .ew1 .au1	{display:inline-block; width:100px; text-align:center; vertical-align:top;}
.bw1 .ew1 .at1	{display:inline-block; width:100px; text-align:center; vertical-align:top;}
.bw1 .ew1 .aw1	{display:inline-block; width:100px; text-align:center; vertical-align:top;}
.bw1 .ew1 .bh1		{display:inline-block; text-align:left; vertical-align:top;}
.bw1 .ew1 .en1				{display:inline-block; text-align:center; vertical-align:top;}

.bw1 .ew1 .dm1 .ho1	{background:#fffac8; border:#eeeab0 solid 1px; color:#d9d25b;}
.bw1 .ew1 .dm1 .kh1			{background:#e8ffc8; border:#cdeeb0 solid 1px; color:#a5d95b;}
.bw1 .ew1 .dm1 .iv1			{background:#ededed; border:#d6d6d6 solid 1px; color:#888888;}
.bw1 .ew1 .dm1 .kx1				{background:#ededed; border:#d6d6d6 solid 1px; color:#888888;}
.bw1 .ew1 .dm1 .kv1				{background:#fbe3e3; border:#f6c8c8 solid 1px; color:#e76d6d;}


.bw1 .fm1						{display:inline-block;}
.bw1 .cg1				{padding:2px; margin:4px;}
.bw1 .cg1 .lf1	{background:none;}


.dn1							{}
.dn1 .kz1				{}
.dn1 .le1					{}
.dn1 .ky1				{}


.dn1 .fa1						{}
.dn1 .bx1				{color:#eeeeee; font-size:15px; font-weight:bold;}


.ek1							{}
.ek1 .kz1				{}
.ek1 .le1				{}
.ek1 .ky1				{}




.bd1						{display:block; margin:4px; padding:4px; background:#ffffff; color:black; border:#dddddd solid 1px;}
.bd1 .kz1			{background:none; padding:0;}
.bd1 .le1			{}
.bd1 .ky1			{text-align:center;}

.bd1 .fa1			{}
.bd1 .bx1	{background:none; padding:2px; margin:4px 0 4px 10px; font-size:18px; font-weight:500;}


.bd1 .q1					{}
.bd1 .d1			{background:none; padding:2px; margin:4px 0 4px 4px;}
.bd1 .d1 .lj1	{display:block;}

.bd1 .ef1								{}
.bd1 .be1						{background:none; padding:2px; margin:4px 0 4px 4px;}
.bd1 .be1 .lj1			{display:block;}

.bd1 .aj1						{}
.bd1 .l1				{background:none; padding:2px; margin:4px 0 4px 4px;}
.bd1 .l1 .lj1	{display:block;}

.bd1 .az1					{}
.bd1 .o1			{background:none; padding:2px; margin:4px 0 4px 4px;}
.bd1 .o1 .lj1	{display:block;}

.bd1 .fm1					{}
.bd1 .cg1			{padding:2px; margin:4px;}
.bd1 .cg1 .lf1	{background:none;}


.g1											{display:inline-block; padding:1px 2px;}
.g1 .kz1								{}
.g1 .le1								{display:inline-block; padding:1px;}
.cssjob_job_contents_group_preview_by_category_info .ky1								{}


.g1 .di1			{text-align:center;}
.g1 .as1	{}

.g1 .ej1			{}
.g1 .br1	{}


.z1											{margin:0; background:none; text-align:center;}
.z1 .kz1								{}
.z1 .le1								{display:inline-block; margin:0;}
.z1 .ky1								{}


.z1 .ej1			{}
.z1 .br1	{}


.bi1											{background:none;}
.bi1 .kz1								{}
.bi1 .le1								{}
.bi1 .ky1								{}




.af1					{display:inline-block; margin:4px; padding:4px; background:#ffffff; color:black; border:#dddddd solid 1px;}
.af1 .kz1		{background:none; padding:0;}
.af1 .le1		{}
.af1 .ky1		{}


.af1 .cj1					{display:inline-block;}
.af1 .x1			{}
.af1 .cj1 .ku1	{background:none; margin:4px 0 4px 0; width:250px;}

.af1 .bg1			{display:inline-block;}
.af1 .u1	{}

.af1 .fm1						{display:inline-block;}
.af1 .cg1				{padding:2px; margin:4px;}
.af1 .cg1 .lf1	{background:none;}


.dv1							{display:block; text-align:center; margin:4px; margin-top:50px; padding:4px; background:none; color:black; border:none;}
.dv1 .kz1				{background:none; padding:0;}
.dv1 .le1					{}
.dv1 .ky1				{}


.dv1 .fz1		{display:inline-block;}
.dv1 .dw1	{display:inline-block;}

.dv1 .dw1 .ku1		{background:none; margin:0; border:none;}
.dv1 .dw1 .lj1			{}
.dv1 .dw1 .ic1	{}
.dv1 .dw1 .kt1		{background:none;}
.dv1 .dw1 .kt1:hover	{background:#0f84fb;}
.dv1 .dw1 .ko1		{background:none; color:#7d7d7d;}
.dv1 .dw1 .kn1		{background:#0b71d9;}


.dv1 .dw1 .lj1.kt1 a		{color:black;}
.dv1 .dw1 .lj1.kt1 a:hover	{color:white;}
.dv1 .dw1 .lj1.kn1 a		{color:white;}


.dj1										{background:none; margin:4px; padding:4px;}
.dj1 .kz1							{}
.dj1 .le1								{}
.dj1 .ky1							{}


.dj1 .fz1			{color:black; text-align:center;}
.dj1 .cm1	{font-weight:600;}
.dj1 .fz1 .blue		{color:#0b71d9;}

.dj1 .ec1				{display:block; text-align:center;}
.dj1 .bf1		{}
.dj1 .ec1 .ku1	{margin:4px 0 4px 0;}