/*
IMPORT_PRIORITY:0
*/

/*COMMON*/
.css_site_copyright_info											{background:none !important;}
.css_site_copyright_info .css_header								{}
.css_site_copyright_info .css_body									{}
.css_site_copyright_info .css_footer								{}

/*COMPONENTS*/
.css_site_copyright_info .css_text_component_title					{text-align:center;}
.css_site_copyright_info .css_text_component_element_title			{}

.css_site_copyright_info .css_text_component_description			{text-align:center;}
.css_site_copyright_info .css_text_component_element_description	{}