/*
IMPORT_PRIORITY:10
*/

/*COMMON*/
.css_info											{width:auto; margin:1px; background:#ff0000; color:#eeeeee; text-align:left;}
.css_info .css_header								{background:#5a7fa0; color:#eeeeee; font-size:13px; font-weight:bold; padding:4px;}
.css_info .css_body									{padding:2px;}
.css_info .css_footer								{padding:2px;}
