/*
IMPORT_PRIORITY:2
*/

/*COMMON*/
.css_panel_info								{width:auto; padding:0; margin:0; background:none;}
.css_panel_info .css_header					{}
.css_panel_info .css_body						{margin:0;}
.css_panel_info .css_footer					{}
