/*
IMPORT_PRIORITY:0
*/

/*COMMON*/
.css_job_vacancy_content_addition_form						{}
.css_job_vacancy_content_addition_form .css_header			{}
.css_job_vacancy_content_addition_form .css_body			{}
.css_job_vacancy_content_addition_form .css_footer			{}

/*COMPONENTS*/
.css_job_vacancy_content_addition_form .css_text_component_form_name					{}
.css_job_vacancy_content_addition_form .css_text_component_element_form_name			{color:#eeeeee; font-size:15px; font-weight:bold;}

.css_job_vacancy_content_addition_form .css_textfield_component_job_name				{}
.css_job_vacancy_content_addition_form .css_textfield_component_element_job_name		{}

.css_job_vacancy_content_addition_form .css_text_component_about_mandatory_fields_note				{width:450px; text-align:right;}
.css_job_vacancy_content_addition_form .css_text_component_element_about_mandatory_fields_note		{}