/*
IMPORT_PRIORITY:0
*/

/*COMMON*/
.css_simple_image_component									{text-align:left;}
.css_simple_image_component .css_element					{}
.css_simple_image_component .css_caption					{}
.css_simple_image_component .css_description				{}
.css_simple_image_component .css_hint						{background:#eeeeee; color:#444444; position:absolute; top:0;}

/*INTERACTIONS*/
.css_simple_image_component a								{}
.css_simple_image_component a:hover							{}

/*CUSTOM*/
.css_simple_image_component .css_deleting_button			{color:red; cursor:pointer;}

.css_simple_image_component .css_deleting_button:hover		{color:red;}
.css_simple_image_component .css_deleting_button:active		{}
