/*
IMPORT_PRIORITY:0
*/

/*COMMON*/
.css_link_image_component								{text-align:left;}
.css_link_image_component .css_element					{}
.css_link_image_component .css_caption					{}
.css_link_image_component .css_description				{}
.css_link_image_component .css_hint						{background:#eeeeee; color:#444444; position:absolute; top:0;}

/*INTERACTIONS*/
.css_link_image_component a								{}
.css_link_image_component a:hover						{}

/*CUSTOM*/