/*
IMPORT_PRIORITY:0
*/

/*COMMON*/
.css_file_image_component								{display:none; text-align:left;}
.css_file_image_component .css_element					{}
.css_file_image_component .css_caption					{}
.css_file_image_component .css_description				{}
.css_file_image_component .css_hint						{background:#eeeeee; color:#444444; position:absolute; top:0;}

/*INTERACTIONS*/
.css_file_image_component a								{}
.css_file_image_component a:hover						{}

/*CUSTOM*/
.css_file_image_component .css_deleting_button				{display:inline-block; background:url(/resources/internals/images/common/_joints/icons/_close.gif) no-repeat -30px 0 transparent; height:15px; width:15px; position:absolute; top:0; right:0; cursor:pointer;}

.css_file_image_component .css_deleting_button:hover		{background-position: -30px -15px;}
.css_file_image_component .css_deleting_button:active		{}