/*
IMPORT_PRIORITY:8
*/

/*COMMON*/
.css_form_component .css_error_message					{display:inline-block; color:black; background:#fef1f1; border:#f6c8c8 solid 1px; margin-left:5px; padding:4px; position:absolute; min-width:120px; z-index:1;}

/*JOINTS*/
.css_mandatory_field									{color:#e71010;}
