/*
IMPORT_PRIORITY:6
*/

/*COMMON*/
.css_simple_labellist_component									{}
.css_simple_labellist_component .css_element					{}
.css_simple_labellist_component .css_item						{margin:0 2px;}

.css_simple_labellist_component .css_enabled					{}
.css_simple_labellist_component .css_enabled:hover				{background:#e1e7ed;}
.css_simple_labellist_component .css_disabled					{background:none; color:#999999; cursor:default; padding:2px 0;}
.css_simple_labellist_component .css_selected					{background:#e1e7ed;}

.css_simple_labellist_component .css_item_element				{padding:5px 10px;}

/*INTERACTIONS*/
.css_simple_labellist_component .css_item.css_enabled a			{color:#446b8f;}
.css_simple_labellist_component .css_item.css_enabled a:hover	{}
.css_simple_labellist_component .css_item.css_selected a		{color:#446b8f;}

.css_simple_labellist_component ul li ul						{background:white;}