/*
IMPORT_PRIORITY:6
*/

/*COMMON*/
.css_submit_button_component									{}
.css_submit_button_component .css_element						{}
.css_submit_button_component .css_caption						{}
.css_submit_button_component .css_description					{}
.css_submit_button_component .css_hint							{background:#eeeeee; color:#444444; position:absolute; top:0;}

/*INTERACTIONS*/
.css_submit_button_component a									{}
.css_submit_button_component a:hover							{}

/*CUSTOM*/
.css_submit_button_component .css_deleting_button				{color:red; cursor:pointer;}

.css_submit_button_component .css_deleting_button:hover			{color:red;}
.css_submit_button_component .css_deleting_button:active		{}
