/*
IMPORT_PRIORITY:7
*/

/*COMMON*/
.css_text_component									{text-align:left;}
.css_text_component .css_element					{color:black; font-weight:normal;}
.css_text_component .css_caption					{color:#446b8f;}
.css_text_component .css_description				{color:#446b8f;}
.css_text_component .css_hint						{background:#eeeeee; color:#444444; padding:4px;}

/*INTERACTIONS*/
.css_text_component a								{}
.css_text_component a:hover							{}
