/*
IMPORT_PRIORITY:1
*/

/*COMMON*/
.css_message_info									{padding:4px; margin:2px; text-align:left;}
.css_message_info .css_header						{padding:0 0 4px 10px; background:none;}
.css_message_info .css_body						{color:black; padding:2px 20px; font-size:11px;}
.css_message_info .css_footer						{}

/*INTERACTIONS*/
/*.css_message_info .css_close_button				{background:url(/resources/internals/images/common/_joints/icons/close.gif) no-repeat 0 0 transparent; height:15px; width:15px; cursor:pointer; float:right;}
.css_message_info .css_close_button:hover			{}

.css_message_info a								{color:#446b8f; text-decoration:underline; font-weight:bold;}
.css_message_info a:hover							{text-decoration:none;}*/

/*COMPONENTS*/
.css_message_info .css_text_component_message_title						{padding:0;}
.css_message_info .css_text_component_element_message_title				{font-weight:bold; font-size:14px;}