/*
IMPORT_PRIORITY:0
*/

/*COMMON*/
.css_information_message_info							{background:#dcecfa; border:#a5c1dd solid 1px;}
.css_information_message_info .css_header				{}
.css_information_message_info .css_body					{background:#ebf3fa;}
.css_information_message_info .css_footer				{}

/*INTERACTIONS*/
/*.css_information_message_info .css_close_button			{background-position: 0 0;}
.css_information_message_info .css_close_button:hover	{background-position: 0 -15px;}*/

/*BROWSERS*/
/*.css_browsers										{text-align:center; margin:2px auto;}
.css_browsers a										{display:inline-block;}
.css_browsers img									{padding:10px;}*/

/*COMPONENTS*/
.css_information_message_info .css_text_component_message_title						{}
.css_information_message_info .css_text_component_element_message_title				{color:#446b8f;}