/*
IMPORT_PRIORITY:6
*/

/*COMMON*/
.css_select_city_composite_component									{}

/*COMPONENTS*/
.css_select_city_composite_component .css_listbox_component_region					{display:inline-block;}
.css_select_city_composite_component .css_listbox_component_element_region			{width:180px;}

.css_select_city_composite_component .css_listbox_component_city					{display:inline-block;}
.css_select_city_composite_component .css_listbox_component_element_city			{width:180px;}