/*
IMPORT_PRIORITY:0
*/

/*COMMON*/
.css_logout_form											{float:right;}
.css_logout_form .css_header								{}
.css_logout_form .css_body									{padding:20px 0 0 0; text-align:right; background:none;}
.css_logout_form .css_footer								{}

/*COMPONENTS*/
/*login*/
.css_logout_form .css_text_component_01					{display:inline-block; width:100px;}
.css_logout_form .css_text_component_01_element			{color:white; text-align:right;}

/*password*/
.css_logout_form .css_button_component_01						{display:inline-block; padding:0;}
.css_logout_form .css_button_component_01_element				{}

.css_logout_form .css_text_component_02					{display:inline-block;}
.css_logout_form .css_text_component_02_element			{color:#a5c1dd; text-align:left;}

.css_logout_form .css_text_component_03					{display:inline-block; padding-right:60px;}
.css_logout_form .css_text_component_03_element			{color:#a5c1dd; text-align:left;}