/*
IMPORT_PRIORITY:0
*/
.css_payment_page									{}

/*SECTIONS*/
.css_payment_page .css_page_section					{border:#222222 solid 1px; padding:1px;}
.css_payment_page .css_header_section				{}
.css_payment_page .css_page_left_section			{float:left; width:100px;}
.css_payment_page .css_page_right_section			{float:right; width:100px;}
.css_payment_page .css_page_pre_content_section		{}
.css_payment_page .css_page_content_section			{margin:0 105px 0 105px; width:auto;}
.css_payment_page .css_page_post_content_section	{clear:both;}
.css_payment_page .css_page_footer_section			{text-align:center;}
.css_payment_page .css_page_float_left_section		{width:100px;}
.css_payment_page .css_page_float_right_section		{width:100px;}