/*
IMPORT_PRIORITY:1
*/

/*COMMON*/
.css_checkbox_component											{text-align:left;}
.css_checkbox_component .css_element							{border:#cccccc solid 1px;}
.css_checkbox_component .css_caption							{margin-left:208px;}
.css_checkbox_component .css_description						{margin-left:208px;}
.css_checkbox_component .css_hint								{margin-left:208px;}
.css_checkbox_component .css_name								{width:200px;}
.css_checkbox_component .css_pre_name							{}
.css_checkbox_component .css_post_name							{}

/*INTERACTIONS*/
.css_checkbox_component a										{}
.css_checkbox_component a:hover									{}
